.letra_cliente{
    color: rgb(228, 223, 223);
}
.letra_cabecera{
    color:blue
}
.letra_tabla{
    color:black
}
.card-1{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
} 

